.eolo-input-checkbox {
	input + span::before {
		border-color: var(--tw-ui-input-border-color);
		@apply bg-white dark:bg-slate-700;
	}

	&:hover:not(.toggler) input:not(:disabled):not(:checked) + span::before {
		@apply bg-primary-50 dark:bg-slate-600;
	}

	&:not(.toggler) input:checked + span::before {
		@apply bg-primary border-primary;

		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='white' d='M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z' stroke='white' stroke-width='1' stroke-linecap='round' /%3E%3C/svg%3E");
		background-size: 83%;
	}

	input:disabled + span {
		@apply text-slate-300;
	}

	input:disabled + span::before {
		@apply bg-slate-100 
		border-slate-100;
	}
}