table.eolo-table {
	min-width: 640px;

	tbody {
		tr {
			@apply border-transparent;

			td {
				@apply border-slate-100
				dark:border-slate-800;
			}
		}
	}

	&.eolo-table-bordered {
		tbody {
			tr {
				@apply border-black/10 dark:border-white/10;
			}
		}
	}

	&.eolo-table-striped {
		> tbody tr:nth-child(odd) {
			@apply bg-black/5
			dark:bg-black/30;
		}
	}

	&.eolo-table-hoverable {
		> tbody tr {
			> td {
				@apply transition-all;
			}

			&:hover > td {
				@apply bg-primary/10;
			}
		}
	}
}
