/* @import './theme.css'; */
/* @import 'eolo'; */
@import '../../../packages/ui/';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base{
} */

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

[class^='docMainContainer'] {
	@apply bg-slate-100 text-slate-600 min-h-screen lg:pl-5 dark:bg-slate-800;
}

.markdown {
	font-size: 0.94rem;
	line-height: 1.6;
	@apply font-light dark:text-slate-300;

	> h1:first-child {
		@apply text-3xl font-semibold mt-6 dark:text-slate-200;
	}

	> h2:not(.in-content) {
		@apply text-2xl font-semibold dark:text-slate-200;
	}

	> h3:not(.in-content) {
		@apply text-xl font-bold dark:text-slate-200;
	}

	> strong {
		@apply font-semibold;
	}

	p code {
		@apply text-indigo-600
		text-xs
		px-1
		py-0.5
		ml-0.5
		-top-px
		relative
		rounded-md
		dark:bg-slate-900
		dark:text-sky-500;
	}

	> ul {
		@apply leading-tight space-y-2;

		& li {
			@apply ml-5 list-disc;
		}
	}
}

.use-h2-only-for-anchors > h2 {
	visibility: hidden;
	height: 0;
	margin: 0;
}

.use-h3-only-for-anchors > h3 {
	visibility: hidden;
	height: 0;
	margin: 0;
}

.theme-code-block {
	@apply max-w-full mt-6;
}

.prism-code {
	@apply text-sm leading-tight;
}


/**
THEME
**/
@media (min-width: 997px) {
	.theme-doc-sidebar-container {
		width: var(--doc-sidebar-width);
		margin-top: calc(-1 * var(--ifm-navbar-height));
		will-change: width;
		transition: width var(--ifm-transition-fast) ease;
		clip-path: inset(0);

		@apply bg-white dark:bg-slate-900 border-slate-900;
	}

	.menu.thin-scrollbar{
		> .menu__list {
			@apply pt-5 pb-10;
		}
	}
}

.navbar__item {
	@apply text-sm select-none;
}

.navbar__link {
	@apply flex items-center gap-x-2;
}

.menu__list-item {
	@apply text-sm leading-tight select-none;
}
.menu__list-item:not(:first-child) {
	@apply m-0;
}
.menu__link {
	@apply py-1;
}
.theme-doc-sidebar-item-category-level-1 {
	@apply pt-2;
}
.menu__list .menu__list {
	@apply pl-0 ml-2;
}
.menu__link:not([href]) {
	@apply text-xs font-bold opacity-50;
}
.menu__list-item.theme-doc-sidebar-item-category-level-2 {
	@apply mt-2;
}

.footer {
	@apply text-xs;
}