@layer components {
  .eolo-btn {
    @apply text-white hover:opacity-80;
  }
  .eolo-btn:not([class*=bg-]) {
    @apply bg-slate-200 dark:bg-slate-800;
  }
  .eolo-btn:not([class*=border-]) {
    @apply border-slate-200 dark:border-slate-800;
  }
  .eolo-btn::not([class*="text-"]) {
    @apply text-slate-500 dark:text-slate-200;
  }
  .eolo-btn.eolo-ghost {
    @apply hover:bg-opacity-100;
  }
  .eolo-btn-icon svg:not([class*=fill-]) {
    @apply fill-white;
  }
  /** Button primary */
  .eolo-btn-group-primary > label > input:checked + .btn {
    @apply bg-primary-700 
	border-primary-700;
  }
  /** Button secondary */
  .eolo-btn-group-secondary > label > input:checked + .btn {
    @apply bg-secondary-700 
	border-secondary-700;
  }
  /** Button alternative */
  .eolo-btn-group-alt > label > input:checked + .btn,
  .eolo-btn-toggler input:checked + .btn-alt {
    @apply bg-alt-700 
	border-alt-700;
  }
  .eolo-btn.eolo-btn-link {
    @apply bg-transparent
	border-transparent
	rounded-none;
  }
  /** Label */
  label {
    @apply text-gray-500
	text-xs
	font-semibold
	leading-tight
	indent-0.5
	dark:text-slate-300;
  }
  /** Helpers */
  .eolo-input-helper {
    @apply text-slate-400 dark:text-slate-200;
  }
  .eolo-input-helper [class*=ri-] {
    @apply text-base;
  }
  .eolo-input-helper.eolo-input-helper-valid {
    @apply text-[var(--tw-ui-input-valid-color)];
  }
  .eolo-input-helper.eolo-input-helper-error {
    @apply text-[var(--tw-ui-input-error-color)];
  }
  /**
  Input types
  **/
  .eolo-input[type=text],
  .eolo-input[type=password],
  .eolo-input[type=email],
  .eolo-input[type=number],
  .eolo-input[type=tel],
  .eolo-input[type=search],
  .eolo-input[type=url],
  .eolo-input[type=file],
  .eolo-input[type=date],
  .eolo-input[type=time],
  .eolo-input[type=datetime-local],
  .eolo-input[type=week] {
    @apply bg-white
	border-[var(--tw-ui-input-border-color)] 
	font-[var(--tw-ui-text-color)]
	dark:bg-black/20
	dark:border-white/20
	dark:text-slate-200;
  }
  .eolo-input[type=text].eolo-input-valid,
  .eolo-input[type=password].eolo-input-valid,
  .eolo-input[type=email].eolo-input-valid,
  .eolo-input[type=number].eolo-input-valid,
  .eolo-input[type=tel].eolo-input-valid,
  .eolo-input[type=search].eolo-input-valid,
  .eolo-input[type=url].eolo-input-valid,
  .eolo-input[type=file].eolo-input-valid,
  .eolo-input[type=date].eolo-input-valid,
  .eolo-input[type=time].eolo-input-valid,
  .eolo-input[type=datetime-local].eolo-input-valid,
  .eolo-input[type=week].eolo-input-valid {
    @apply border-[var(--tw-ui-input-valid-color)] 
		text-[var(--tw-ui-input-valid-color)];
  }
  .eolo-input[type=text].eolo-input-error,
  .eolo-input[type=password].eolo-input-error,
  .eolo-input[type=email].eolo-input-error,
  .eolo-input[type=number].eolo-input-error,
  .eolo-input[type=tel].eolo-input-error,
  .eolo-input[type=search].eolo-input-error,
  .eolo-input[type=url].eolo-input-error,
  .eolo-input[type=file].eolo-input-error,
  .eolo-input[type=date].eolo-input-error,
  .eolo-input[type=time].eolo-input-error,
  .eolo-input[type=datetime-local].eolo-input-error,
  .eolo-input[type=week].eolo-input-error {
    @apply border-[var(--tw-ui-input-error-color)] 
		text-[var(--tw-ui-input-error-color)];
  }
  .eolo-input[type=text]:disabled,
  .eolo-input[type=password]:disabled,
  .eolo-input[type=email]:disabled,
  .eolo-input[type=number]:disabled,
  .eolo-input[type=tel]:disabled,
  .eolo-input[type=search]:disabled,
  .eolo-input[type=url]:disabled,
  .eolo-input[type=file]:disabled,
  .eolo-input[type=date]:disabled,
  .eolo-input[type=time]:disabled,
  .eolo-input[type=datetime-local]:disabled,
  .eolo-input[type=week]:disabled {
    @apply opacity-60;
  }
  /**
  Date
  **/
  .eolo-input[type=date].eolo-calendar-on-focus,
  .eolo-input[type=datetime-local].eolo-calendar-on-focus,
  .eolo-input[type=time].eolo-calendar-on-focus {
    @apply relative overflow-hidden;
  }
  .eolo-input[type=date].eolo-calendar-on-focus::-webkit-calendar-picker-indicator,
  .eolo-input[type=datetime-local].eolo-calendar-on-focus::-webkit-calendar-picker-indicator,
  .eolo-input[type=time].eolo-calendar-on-focus::-webkit-calendar-picker-indicator {
    @apply w-full h-full block left-0 top-0 absolute opacity-0;
  }
  /**
  Color
  **/
  .eolo-input[type=color] {
    @apply bg-transparent border-none rounded-none;
  }
  /**
  Range
  **/
  .eolo-input[type=range]::-webkit-slider-runnable-track {
    @apply bg-gray-300 dark:bg-black/30;
  }
  .eolo-input[type=range]::-moz-range-track {
    @apply bg-gray-300 dark:bg-black/30;
  }
  .eolo-input[type=range]::-webkit-slider-thumb {
    @apply bg-gray-500 dark:bg-slate-600;
  }
  .eolo-input[type=range]::-moz-range-thumb {
    @apply bg-gray-500 dark:bg-slate-600;
  }
  /**
  File
  **/
  .eolo-input[type=file]::file-selector-button {
    @apply bg-primary hover:bg-primary-600;
  }
  select.eolo-input {
    @apply bg-white
	border-[var(--tw-ui-input-border-color)] 
	font-[var(--tw-ui-text-color)]
	dark:bg-black/20
	dark:border-white/20
	dark:text-slate-200;
  }
  select.eolo-input option {
    @apply text-primary;
  }
  select.eolo-input.eolo-input-valid {
    @apply border-[var(--tw-ui-input-valid-color)] 
		text-[var(--tw-ui-input-valid-color)];
  }
  select.eolo-input.eolo-input-error {
    @apply border-[var(--tw-ui-input-error-color)] 
		text-[var(--tw-ui-input-error-color)];
  }
  select.eolo-input:disabled {
    @apply opacity-60;
  }
  .eolo-input-checkbox input + span::before {
    border-color: var(--tw-ui-input-border-color);
    @apply bg-white dark:bg-slate-700;
  }
  .eolo-input-checkbox:hover:not(.toggler) input:not(:disabled):not(:checked) + span::before {
    @apply bg-primary-50 dark:bg-slate-600;
  }
  .eolo-input-checkbox:not(.toggler) input:checked + span::before {
    @apply bg-primary border-primary;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='white' d='M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z' stroke='white' stroke-width='1' stroke-linecap='round' /%3E%3C/svg%3E");
    background-size: 83%;
  }
  .eolo-input-checkbox input:disabled + span {
    @apply text-slate-300;
  }
  .eolo-input-checkbox input:disabled + span::before {
    @apply bg-slate-100 
		border-slate-100;
  }
  .eolo-input-radio input + span::before {
    content: "";
    @apply bg-white dark:bg-slate-700;
  }
  .eolo-input-radio:hover input:not(:disabled):not(:checked) + span::before {
    @apply bg-primary border-primary;
  }
  .eolo-input-radio:not(.toggler):not(.check) input:checked + span::before {
    box-shadow: 0 0 0 4.2px var(--tw-shadow-color) inset;
    @apply shadow-primary;
  }
  .eolo-input-radio.eolo-input-lg:not(.toggler) input:checked + span::before {
    box-shadow: 0 0 0 7px var(--tw-shadow-color) inset;
    @apply shadow-primary;
  }
  .eolo-input-radio input:disabled + span {
    @apply text-slate-300;
  }
  .eolo-input-radio input:disabled + span::before {
    @apply bg-slate-100 border-slate-100;
  }
  .eolo-input-radio.check input:checked + span::before {
    @apply bg-primary;
  }
  .eolo-toggler > input[type=checkbox] + span,
  .eolo-toggler > input[type=radio] + span {
    @apply bg-slate-200 dark:bg-slate-800;
  }
  .eolo-toggler > input[type=checkbox] + span::before,
  .eolo-toggler > input[type=radio] + span::before {
    @apply bg-slate-400 dark:bg-slate-600;
  }
  .eolo-toggler > input[type=checkbox]:checked + span,
  .eolo-toggler > input[type=radio]:checked + span {
    @apply bg-primary border-primary dark:bg-primary dark:border-primary;
  }
  .eolo-toggler > input[type=checkbox]:checked + span::before,
  .eolo-toggler > input[type=radio]:checked + span::before {
    @apply bg-white/70;
  }
  .eolo-input-group-inset {
    @apply bg-white
	border-[var(--tw-ui-input-border-color)] 
	font-[var(--tw-ui-text-color)]
	dark:bg-black/20
	dark:border-white/20
	dark:text-slate-200;
  }
  .eolo-input-group-inset input[type=text],
  .eolo-input-group-inset .eolo-input[type=text],
  .eolo-input-group-inset input[type=password],
  .eolo-input-group-inset .eolo-input[type=password],
  .eolo-input-group-inset input[type=email],
  .eolo-input-group-inset .eolo-input[type=email],
  .eolo-input-group-inset input[type=number],
  .eolo-input-group-inset .eolo-input[type=number],
  .eolo-input-group-inset input[type=tel],
  .eolo-input-group-inset .eolo-input[type=tel],
  .eolo-input-group-inset input[type=search],
  .eolo-input-group-inset .eolo-input[type=search],
  .eolo-input-group-inset input[type=url],
  .eolo-input-group-inset .eolo-input[type=url],
  .eolo-input-group-inset input[type=file],
  .eolo-input-group-inset .eolo-input[type=file],
  .eolo-input-group-inset input[type=date],
  .eolo-input-group-inset .eolo-input[type=date],
  .eolo-input-group-inset input[type=time],
  .eolo-input-group-inset .eolo-input[type=time],
  .eolo-input-group-inset input[type=datetime-local],
  .eolo-input-group-inset .eolo-input[type=datetime-local],
  .eolo-input-group-inset input[type=week],
  .eolo-input-group-inset .eolo-input[type=week],
  .eolo-input-group-inset input[type=color],
  .eolo-input-group-inset .eolo-input[type=color] {
    @apply bg-transparent dark:bg-transparent;
  }
  .eolo-input-group-inset select,
  .eolo-input-group-inset select.eolo-input {
    @apply bg-transparent dark:bg-transparent;
  }
  .eolo-content code {
    @apply text-blue-400
		dark:text-blue-400;
  }
  .eolo-content pre {
    @apply bg-slate-100
		text-slate-400
		dark:bg-slate-800;
  }
  .eolo-content pre code {
    @apply text-slate-400;
  }
  .eolo-dropdown .eolo-dropdown-nav {
    @apply bg-white border-black/5 shadow-black/10 shadow-lg
		dark:bg-slate-900 dark:border-black/10 dark:shadow-black/40;
  }
  /**
  Collapsible
  **/
  .eolo-collapsible {
    @apply border-black/10 dark:border-white/10;
  }
  .eolo-collapsible .eolo-collapsible-head {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(0 0 0/.3)' viewBox='0 0 24 24'%3E%3Cpath d='M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z'%3E%3C/path%3E%3C/svg%3E");
  }
  .eolo-collapsible [type=checkbox]:checked ~ .eolo-collapsible-head,
  .eolo-collapsible [type=radio]:checked ~ .eolo-collapsible-head {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(0 0 0/.3)' viewBox='0 0 24 24'%3E%3Cpath d='M11.9997 10.8284L7.04996 15.7782L5.63574 14.364L11.9997 8L18.3637 14.364L16.9495 15.7782L11.9997 10.8284Z'%3E%3C/path%3E%3C/svg%3E");
    @apply text-primary;
  }
  .dark .eolo-collapsible .eolo-collapsible-head,
  [data-theme=dark] .eolo-collapsible .eolo-collapsible-head {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255 255 255/.4)' viewBox='0 0 24 24'%3E%3Cpath d='M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z'%3E%3C/path%3E%3C/svg%3E");
  }
  .dark .eolo-collapsible [type=checkbox]:checked ~ .eolo-collapsible-head,
  .dark .eolo-collapsible [type=radio]:checked ~ .eolo-collapsible-head,
  [data-theme=dark] .eolo-collapsible [type=checkbox]:checked ~ .eolo-collapsible-head,
  [data-theme=dark] .eolo-collapsible [type=radio]:checked ~ .eolo-collapsible-head {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255 255 255/.4)' viewBox='0 0 24 24'%3E%3Cpath d='M11.9997 10.8284L7.04996 15.7782L5.63574 14.364L11.9997 8L18.3637 14.364L16.9495 15.7782L11.9997 10.8284Z'%3E%3C/path%3E%3C/svg%3E");
  }
  table.eolo-table {
    min-width: 640px;
  }
  table.eolo-table tbody tr {
    @apply border-transparent;
  }
  table.eolo-table tbody tr td {
    @apply border-slate-100
				dark:border-slate-800;
  }
  table.eolo-table.eolo-table-bordered tbody tr {
    @apply border-black/10 dark:border-white/10;
  }
  table.eolo-table.eolo-table-striped > tbody tr:nth-child(odd) {
    @apply bg-black/5 dark:bg-black/30;
  }
  table.eolo-table.eolo-table-hoverable > tbody tr > td {
    @apply transition-all;
  }
  table.eolo-table.eolo-table-hoverable > tbody tr:hover > td {
    @apply bg-primary/10;
  }
  .eolo-list-group:not(.striped) .eolo-list-group-item {
    @apply border-black/10 dark:border-white/20;
  }
  .eolo-list-group .eolo-list-group-head {
    @apply bg-black/10 dark:bg-white/5;
  }
  .eolo-list-group.striped .eolo-list-group-item:nth-child(even) {
    @apply bg-black/5 dark:bg-black/20;
  }
  .eolo-list-group.striped .eolo-list-group-item {
    @apply border-transparent dark:border-transparent;
  }
  .eolo-list-group.hoverable .eolo-list-group-item:hover, .eolo-list-group.striped.hoverable .eolo-list-group-item:hover {
    @apply bg-primary/10;
  }
  .eolo-badge {
    @apply bg-slate-400
	text-white
	border-slate-400;
  }
  .eolo-dot-badge {
    font-size: 0;
    @apply bg-red-600;
  }
  .eolo-spinner::after {
    @apply border-slate-100 dark:border-slate-600;
  }
  .eolo-spinner:not([class*=border-l-]) {
    @apply border-l-primary  dark:border-l-primary;
  }
  .eolo-spinner3 .dot {
    @apply bg-gray-300 dark:bg-white/80;
  }
  .eolo-tabs .eolo-tabs-nav {
    @apply md:flex;
  }
  .eolo-tabs .eolo-tabs-nav .eolo-tab-item {
    @apply border-slate-200
			space-x-2
			dark:border-slate-500;
  }
  .eolo-tabs > input[type=radio]:checked:nth-child(1) ~ .eolo-tabs-nav .eolo-tab-item:nth-child(1) {
    @apply border-primary text-primary;
  }
  .eolo-tabs > input[type=radio]:checked:nth-child(2) ~ .eolo-tabs-nav .eolo-tab-item:nth-child(2) {
    @apply border-primary text-primary;
  }
  .eolo-tabs > input[type=radio]:checked:nth-child(3) ~ .eolo-tabs-nav .eolo-tab-item:nth-child(3) {
    @apply border-primary text-primary;
  }
  .eolo-tabs > input[type=radio]:checked:nth-child(4) ~ .eolo-tabs-nav .eolo-tab-item:nth-child(4) {
    @apply border-primary text-primary;
  }
  .eolo-tabs > input[type=radio]:checked:nth-child(5) ~ .eolo-tabs-nav .eolo-tab-item:nth-child(5) {
    @apply border-primary text-primary;
  }
  .eolo-tabs > input[type=radio]:checked:nth-child(6) ~ .eolo-tabs-nav .eolo-tab-item:nth-child(6) {
    @apply border-primary text-primary;
  }
  .eolo-tabs > input[type=radio]:checked:nth-child(7) ~ .eolo-tabs-nav .eolo-tab-item:nth-child(7) {
    @apply border-primary text-primary;
  }
  .eolo-tabs > input[type=radio]:checked:nth-child(8) ~ .eolo-tabs-nav .eolo-tab-item:nth-child(8) {
    @apply border-primary text-primary;
  }
  .eolo-tabs > input[type=radio]:checked:nth-child(9) ~ .eolo-tabs-nav .eolo-tab-item:nth-child(9) {
    @apply border-primary text-primary;
  }
  .eolo-tabs > input[type=radio]:checked:nth-child(10) ~ .eolo-tabs-nav .eolo-tab-item:nth-child(10) {
    @apply border-primary text-primary;
  }
  .eolo-tabs > input[type=radio]:checked:nth-child(11) ~ .eolo-tabs-nav .eolo-tab-item:nth-child(11) {
    @apply border-primary text-primary;
  }
  .eolo-tabs > input[type=radio]:checked:nth-child(12) ~ .eolo-tabs-nav .eolo-tab-item:nth-child(12) {
    @apply border-primary text-primary;
  }
  .eolo-tabs > input[type=radio]:checked:nth-child(13) ~ .eolo-tabs-nav .eolo-tab-item:nth-child(13) {
    @apply border-primary text-primary;
  }
  .eolo-tabs > input[type=radio]:checked:nth-child(14) ~ .eolo-tabs-nav .eolo-tab-item:nth-child(14) {
    @apply border-primary text-primary;
  }
  .eolo-tabs > input[type=radio]:checked:nth-child(15) ~ .eolo-tabs-nav .eolo-tab-item:nth-child(15) {
    @apply border-primary text-primary;
  }
  .eolo-tabs > input[type=radio]:checked:nth-child(16) ~ .eolo-tabs-nav .eolo-tab-item:nth-child(16) {
    @apply border-primary text-primary;
  }
  .eolo-tabs > input[type=radio]:checked:nth-child(17) ~ .eolo-tabs-nav .eolo-tab-item:nth-child(17) {
    @apply border-primary text-primary;
  }
  .eolo-tabs > input[type=radio]:checked:nth-child(18) ~ .eolo-tabs-nav .eolo-tab-item:nth-child(18) {
    @apply border-primary text-primary;
  }
  .eolo-tabs > input[type=radio]:checked:nth-child(19) ~ .eolo-tabs-nav .eolo-tab-item:nth-child(19) {
    @apply border-primary text-primary;
  }
  .eolo-tabs > input[type=radio]:checked:nth-child(20) ~ .eolo-tabs-nav .eolo-tab-item:nth-child(20) {
    @apply border-primary text-primary;
  }
  .eolo-tabs .eolo-tabs-content {
    @apply border-slate-200
		dark:border-slate-500;
  }
  .eolo-tabs.eolo-tabs-vertical .eolo-tabs-nav {
    @apply md:block;
  }
  .eolo-modal {
    @apply bg-white
	dark:bg-slate-800;
  }
  .eolo-toast:not([class*=bg-]) {
    @apply bg-white
	border-slate-200
	dark:bg-slate-800
	dark:border-slate-700;
  }
}
@layer utilities {
  .eolo-ghost,
  .eolo-btn.eolo-ghost:not(:hover):not(:active):not(:focus):not(:active:focus) {
    @apply bg-opacity-20 
	border-transparent 
	dark:bg-opacity-20 
	dark:border-transparent;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinner2Keyframe {
  0%, 100% {
    transform: rotate(0deg);
  }
  12.4% {
    transform: rotate(0deg);
  }
  12.5% {
    transform: rotate(45deg);
  }
  24% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(90deg);
  }
  37.4% {
    transform: rotate(90deg);
  }
  37.5% {
    transform: rotate(135deg);
  }
  49% {
    transform: rotate(135deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62.4% {
    transform: rotate(180deg);
  }
  62.5% {
    transform: rotate(225deg);
  }
  74.9% {
    transform: rotate(225deg);
  }
  75% {
    transform: rotate(270deg);
  }
  87.4% {
    transform: rotate(270deg);
  }
  87.5% {
    transform: rotate(315deg);
  }
  99% {
    transform: rotate(315deg);
  }
}
@keyframes eolo-spinner3-animation {
  0% {
    top: 0;
    opacity: 1;
  }
  50% {
    top: 20px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

/*# sourceMappingURL=index.css.map */
